<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <body style="background-color:#343A40;">
    <!-- Defining background colour for page -->  


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar border-bottom border-light">
  <a class="navbar-brand" href="/popular">Home</a>
  <a class="navbar-brand" href="/popular">Popular</a>
  <a class="navbar-brand" href="/nowplaying">In Cinemas</a>
  <a class="navbar-brand" href="/upcoming">Upcoming</a>
  <a class="navbar-brand" href="/toprated">Top Rated</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <!-- Defining navbar and links and correspnding html page link and behaviour of navbar -->
  
    <form class="form-inline my-2 my-lg-0" method='GET' action='/search?'>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
 <!-- Creates a search bar and submit button in navbar which uses a GET request method to operate. Defines margin on y axis for alignment -->

<br>
<div class='container'>
<div class='row'>
{% for x in range(listlen) %}
<div class='col-md-4'>
<div class="card bg-dark">
  <img class="card-img-top" src="{{ imgurl + popular[x]['poster_path'] }}" alt="Card image">
  <div class="card-body">
    <h4 class="card-title text-white">{{  popular[x]['title']  }}</h4>
    <p class="card-text text-white">{{  popular[x]['overview']  }}</p>
    <p class="card-text text-light">{{  popular[x]['rating']  }}/10</p>
    <a href="movies/{{ popular[x]['id'] }}" class="btn btn-primary">See More</a>
  </div>
</div>
</div>
{% endfor %}
</div>
</div>
<!-- Creates a dark card for each individual movie displaying a large poster and some small 'snapshots' of information
  the user can read before seeing a 'See More' button which redirects to the individual movie page